.container {
  //display: flex;
  //justify-content: center;
  //align-items: center;


  //vertical-align: middle;
  //display: table-cell;

  //height: 1000px;
}

.input {
    border-radius: 3px;
    border: none;
    padding: 3px 7px;
}