.form__submit {
  background-color: transparent;
  width: 35px;
  height: 32px;
  padding: 2px;
  position: absolute;
  left: 0;
  cursor: pointer;
  border: 1px solid transparent;
  border-radius: 50%;
  img {
    width: 20px;
    vertical-align: sub;
  }
}